.search {
  width: 280px;
  height: 26px;
  background: #ecf0f3;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px #cbced1, inset -2px -2px 2px white;
  text-indent: 20px;
}
