.form {
  display: flex;
  gap: 32px;
  flex-wrap: nowrap;
}

.form__label {
  height: 50px;
  background: #ecf0f3;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px white;
  text-indent: 20px;
}

.form__button {
  height: 50px;
  width: 250px;
  background: #62f16c;
  border: 1px solid transparent;

  border-radius: 5px;
  color: black;
  cursor: pointer;

  padding: 0 20px;
  transition: all 250ms ease-in-out;
}

.form__button:hover {
  background: #127e1b;
}

.container {
  margin: 0 auto;
  padding: 10px 20px;
}

input,
label {
  width: 100%;
}
