.phonebook {
  max-width: 830px;
  min-width: 520px;
  margin: 30px auto;
  border-radius: 10px;
  background: #eff5a0;
  box-shadow: 16px 16px 28px rgb(26, 173, 231),
    -16px -16px 28px rgb(26, 173, 231);
}

.container {
  margin: 0 auto;
  padding: 15px 20px;
}
