.contactList {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  padding-bottom: 10px;
  align-items: center;
}

.contactList button {
  color: black;
  background: #f16b6b;
  border-radius: 5px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  border: 1px solid transparent;
  padding: 8px;
}

button:hover {
  background: #e40e0e;
}

.user {
  margin: 0;
}
